.statistics-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  display: inline;
  float: left;
}

.icon-margin {
  margin-left: 20px;
}
