.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
  margin-block-end: 150px;
}

.field {
  display: grid;
  position: relative;
  width: fit-content;
  margin: 1rem 1.5rem 1rem 0;
}

.field_beginner {
  font-size: 200%;
  gap: 4px;
  grid-auto-rows: 78px;
  grid-template-columns: repeat(9, 78px);
}

.field_amateur {
  font-size: 120%;
  gap: 3px;
  grid-auto-rows: 43px;
  grid-template-columns: repeat(16, 43px);
}

.field_profi {
  font-size: 100%;
  gap: 2px;
  grid-auto-rows: 33px;
  grid-template-columns: repeat(21, 33px);
}

.field__poster {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.field__poster_win {
  background-color: rgba(80, 255, 80, 0.3);
}

.field__poster_lose {
  background-color: rgba(255, 99, 71, 0.3);
}

.field__poster_pause {
  background-color: rgba(247, 243, 34, 0.3);
  backdrop-filter: blur(9px);
}

.field__letters {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.field__numbers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .field_beginner {
    font-size: 200%;
    gap: 4px;
    grid-auto-rows: 78px;
    grid-template-columns: repeat(9, 78px);
  }

  .field_amateur {
    font-size: 120%;
    gap: 3px;
    grid-auto-rows: 43px;
    grid-template-columns: repeat(16, 43px);
  }

  .field_profi {
    font-size: 100%;
    gap: 2px;
    grid-auto-rows: 33px;
    grid-template-columns: repeat(21, 33px);
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .field_beginner {
    font-size: 130%;
    gap: 3px;
    grid-auto-rows: 48px;
    grid-template-columns: repeat(9, 48px);
  }

  .field_amateur {
    font-size: 80%;
    gap: 2px;
    grid-auto-rows: 27px;
    grid-template-columns: repeat(16, 27px);
  }

  .field_profi {
    font-size: 70%;
    gap: 1px;
    grid-auto-rows: 21px;
    grid-template-columns: repeat(21, 21px);
  }
}

/* Для мобильных устройств */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
  .main {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    /* margin-left: 70px; */
  }

  .field_beginner {
    font-size: 200%;
    gap: 5px;
    grid-auto-rows: 90px;
    grid-template-columns: repeat(9, 90px);
  }

  .field_amateur {
    font-size: 150%;
    gap: 3px;
    grid-auto-rows: 55px;
    grid-template-columns: repeat(16, 55px);
  }

  .field_profi {
    font-size: 125%;
    gap: 2px;
    grid-auto-rows: 43px;
    grid-template-columns: repeat(21, 43px);
  }
}

/* Для экранов с шириной менее 1080 */
@media screen and (max-width: 559px) {
  .main {
    display: flex;
    justify-content: left;
    align-items: flex-start;
  }

  .field_beginner {
    font-size: 100%;
    gap: 2px;
    grid-auto-rows: 38px;
    grid-template-columns: repeat(9, 38px);
  }

  .field_amateur {
    font-size: 100%;
    gap: 2px;
    grid-auto-rows: 38px;
    grid-template-columns: repeat(16, 38px);
  }

  .field_profi {
    font-size: 100%;
    gap: 2px;
    grid-auto-rows: 38px;
    grid-template-columns: repeat(21, 38px);
  }
}

/* Для экранов с шириной более 1920 */
@media screen and (min-width: 1921px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
